@import "./reset.css";
body{
    padding: 0 30px;
}

.site-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#theme{
    width: 130px;
    padding: 2px;
    margin: 5px;
}

.search-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    width: 90%;
    background-color: inherit;
}

#news-articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.article{
        width: 18%;
        padding: 0 1% 50px 1%;
        list-style: none;
}

.article-img{
    max-width: 90%;
}
.article-title{
    font-size: inherit;
}
.article-description{
    color: inherit;
}
.article-author{
    float: right;
}
.article-link{
    text-decoration: none;
    color: inherit;
}

.article:hover{
    transform: scale(1.1, 1.1);
}