@import "./reset.css";
body{
    color: #555;
    padding: 0 30px;
}

.site-title{
    font-size: 30px;
}

#theme{
    width: 130px;
    padding: 2px;
    margin: 10px;
    position: relative;
    left: 30px;
}

.site-title{
    display: flex;
    justify-content: center;
}

.search-container{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    width: 100%;
}

#news-articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.article{
        width: 23%;
        padding: 0 1% 70px 1%;
}

.article-img{
    max-width: 90%;
}